<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>boardindex</title>
</head>
<body>
<button onclick="board_write()">글작성</button>
<button onclick="board_list()">글목록</button>
<a href="/index"><button>메인으로</button></a>
<button onclick="pagingReq()">페이징목록</button>
</body>
<script>
    const board_write = () => {
        location.href="/board/write"
    }
    //function board_write() {} 랑 똑같음

    const board_list = () => {
        location.href="/board/list"
    }

    const pagingReq = () => {
        location.href = "/board/paging"
    }
</script>
</html>